ServiciosBrandBuy.Api/Connected Services/GeneradorDeClaves/ServicioClave.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stevendlavc-001-site1.atempurl.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://stevendlavc-001-site1.atempurl.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://stevendlavc-001-site1.atempurl.com/">
      <s:element name="GenerarClave">
        <s:complexType />
      </s:element>
      <s:element name="GenerarClaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarClaveResult" type="tns:ArrayOfClave" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClave">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Clave" nillable="true" type="tns:Clave" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Clave">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="claveGenerada" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfClave" nillable="true" type="tns:ArrayOfClave" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarClaveSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarClave" />
  </wsdl:message>
  <wsdl:message name="GenerarClaveSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="GenerarClaveHttpGetIn" />
  <wsdl:message name="GenerarClaveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfClave" />
  </wsdl:message>
  <wsdl:message name="GenerarClaveHttpPostIn" />
  <wsdl:message name="GenerarClaveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfClave" />
  </wsdl:message>
  <wsdl:portType name="ServicioClaveSoap">
    <wsdl:operation name="GenerarClave">
      <wsdl:input message="tns:GenerarClaveSoapIn" />
      <wsdl:output message="tns:GenerarClaveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicioClaveHttpGet">
    <wsdl:operation name="GenerarClave">
      <wsdl:input message="tns:GenerarClaveHttpGetIn" />
      <wsdl:output message="tns:GenerarClaveHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicioClaveHttpPost">
    <wsdl:operation name="GenerarClave">
      <wsdl:input message="tns:GenerarClaveHttpPostIn" />
      <wsdl:output message="tns:GenerarClaveHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioClaveSoap" type="tns:ServicioClaveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarClave">
      <soap:operation soapAction="http://stevendlavc-001-site1.atempurl.com/GenerarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioClaveHttpGet" type="tns:ServicioClaveHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GenerarClave">
      <http:operation location="/GenerarClave" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioClaveHttpPost" type="tns:ServicioClaveHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GenerarClave">
      <http:operation location="/GenerarClave" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioClave">
    <wsdl:port name="ServicioClaveSoap" binding="tns:ServicioClaveSoap">
      <soap:address location="http://stevendlavc-001-site1.atempurl.com/webservice/ServicioClave.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioClaveHttpGet" binding="tns:ServicioClaveHttpGet">
      <http:address location="http://stevendlavc-001-site1.atempurl.com/webservice/ServicioClave.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioClaveHttpPost" binding="tns:ServicioClaveHttpPost">
      <http:address location="http://stevendlavc-001-site1.atempurl.com/webservice/ServicioClave.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>